.container {
    
    /* width: 100%; */
    margin: 0 auto;
    width: 1180px;

    min-height: 100vh;
    padding-bottom: 50px;
    box-sizing: border-box;
    font-family: 'Neue Machina'
}
.title {
    color: var(--main-text-color);
    font-size: 48px;
    font-weight: 900;
    line-height: 100%;
    /* margin-bottom: 42px; */
    text-transform: uppercase;
    padding-top: 200px;
}
.filterContainer {
    display: flex;
    justify-content: space-between;
}
.genresItemList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 800px;
}
.genresItem {
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: #242424;
    border: 1px solid #454545;
    border-radius: 10px;
    color: var(--main-text-color);
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 800;
    height: 46px;
    justify-content: center;
    line-height: 143%;
    padding: 0 25px;
    text-transform: uppercase;
}

.selectedGenre {
    background-color: var(--main-green-color);
}

.dataSortContainer {
    display:flex;
}
.dataSortContainer > div {
    font-size: 14px;
    font-weight: 300;
    line-height: 143%;
    text-align: center;
    color: var(--second-text-color);
    padding: 10px;
    height: fit-content;
}

.dataSort:hover {
    border: 1px solid #454545;
    border-radius: 10px;
}

.gamesList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 65px;
    /* width: 1180px; */

}
.moreButton {
    background-color: #242424;
    border: 1px solid #454545;
    border-radius: 20px;
    color: var(--main-text-color);
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 800;
    height: 78px;
    line-height: 143%;
    margin: 41px auto 0;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s ease;
    width: 370px;
}

.moreButton:hover {
    background-color: var(--main-green-color);
    transition: all .2s ease;
}