.container {
    position: absolute;
    top: 0;
    z-index: 10;
    height: 100vh;
    width: 100%;
    display: flex;
}
.backdrop {
    width: 50%;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
}
.content {
    background: #181818;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.navPanel {
    border-bottom: 1px solid #454545;
    display: flex;
    gap: 47px;
    height: 90px;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.navButton {
    font-family: 'Neue Machina Ultrabold';
    background-color: initial;
    border: none;
    color: var(--main-text-color);
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    line-height: 133%;
    padding-top: 10px;
    text-transform: uppercase;
}
.submitButton {
    background: var(--main-green-color);
    background-position: 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(63,156,20,.3);
    color: var(--main-text-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    height: 70px;
    line-height: 143%;
    transition: all .2s ease-in-out;
    transition: background .3s ease-in-out;
    width: 370px;
    margin: 200px auto;
}